<div id="edit-poll" class="form-container hidden">
    <h2></h2>
    <form id="poll-form" class="form" method="POST" enctype="" >
        <input 
            type="text" 
            class="form-control question-field" 
            name="poll-question" 
            value="{{poll.pollQuestion}}" 
            oninvalid="this.setCustomValidity('Please enter a valid poll question')"
            oninput="setCustomValidity('')"
            required>
        </input>
        {{#each poll.answers}}
        <div class="input-group answer-field" id="group{{@index}}">
            <input 
                type="text" 
                class="form-control" 
                name="answer{{@index}}" 
                placeholder="Type answer here"
                value="{{this.answer}}"
                oninvalid="this.setCustomValidity('You must enter at least two possible answers')"
                oninput="setCustomValidity('')">
            </input>
            <input type="hidden" name="count{{@index}}" value={{this.count}}></input>
            <span class="input-group-addon">
                <a href="#" onclick="removeField({{@index}})"><span class="glyphicon glyphicon-remove"/></a>
            </span>
        </div>
        {{/each}}
        <input type="button" class="btn btn-create" id="add-field" value="Add More" onclick="addField()"></input>
        <input type="submit" class="btn btn-submit" id="submit-poll" value="Submit Changes" formaction="/edit/{{poll.slug}}"></input>
        <input type="submit" class="btn btn-delete" id="delete-poll" value="Delete Poll" formaction="/delete/{{poll.slug}}"></input>
    </form>
</div>