<div class="text-center">
    {{#if loginMessage}}
    <h3>{{loginMessage}}</h3>
    {{else}}
    Please log in to manage your polls or create new ones.
    {{/if}}
</div>
<div class="container-fluid" id="login-form">
    <form id="login" method="POST">
        <input
            type="text"
            class="form-control top-field"
            name="username"
            placeholder="Username"
            required
            autofocus>
        </input>
        <input
            type="password"
            class="form-control bottom-field"
            name="password"
            placeholder="Password"
            required>
        </input>
        <div class="row">
            <input class="btn btn-success" type="submit" value="Log in" formaction="/login"></input>
            or
            <button class="btn btn-warning" type="submit" formaction="/signup">Sign up</button>
        </div>
    </form>
</div>