<div id="poll-form" class="form-container hidden">
    <form id="new-poll" class="form" method="POST" enctype="" >
        <input 
            type="text" 
            class="form-control question-field"
            name="poll-question"
            placeholder="Type your poll question here"
            oninvalid="this.setCustomValidity('Please enter a valid poll question')"
            oninput="setCustomValidity('')"
            required>
        </input>
        <input 
            type="text" 
            class="form-control answer-field" 
            name="answer0" 
            placeholder="Answer 1"  
            oninvalid="this.setCustomValidity('You must enter at least two possible answers')"
            oninput="setCustomValidity('')"
            required>
        </input>
        <input 
            type="text" 
            class="form-control answer-field" 
            name="answer1" 
            placeholder="Answer 2"
            oninvalid="this.setCustomValidity('You must enter at least two possible answers')"
            oninput="setCustomValidity('')"
            required>
        </input>
        <input type="button" class="btn btn-success" id="add-field" value="Add More" onclick="addField()"></input>
        <input type="submit" class="btn btn-warning" id="submit-poll" formaction="/createpoll" onclick="resetNum()"></input>
    </form>
</div>