{{>head}}
{{>topnavbar}}
<div class="jumbotron">
    <script src="../scripts/newpoll.js"></script>
    <div class="container-fluid">
        <h1>{{#if welcomeMessage}}{{welcomeMessage}}{{else}}Welcome {{user}}!{{/if}}</h1>
    </div>
    {{#if user}}
        <div class="container-fluid">
            <button id="show-form" class="btn btn-create" onclick="showForm()">Create a new poll</button>
        </div>
    {{/if}}
    {{>newpoll}}
</div>
<div class="container-fluid text-center">
    <h3>Your polls</h3>
    {{#if polls}}
        {{>polls}}
    {{else}}
        <h4>You don't have any polls yet</h4>
    {{/if}}
</div>