body {
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background: darkslategrey;
    color: cornsilk;
}

.container {
    margin-left: 0px;
}

#top-navbar a {  
    color: cornsilk;
    padding: 5px;
    font-size: 32px;
}

.btn {
    border-radius: 50px;
}

input {
    border-radius: 50px !important;
}

.input-group-addon {
    background: palegoldenrod;
    color: darkslategrey;
}

a:hover, a:visited, a:active {
    text-decoration: none;
}

#top-navbar {
    background: darkslategrey;
}

#top-navbar a:hover {
    background: lightslategrey;
}

#logout {
    float: right;
}

.form-container {
    width: 50%;
    margin-left: 25%;
}

.btn-poll {
    background: palegoldenrod;
    color: lightseagreen;
    border-radius: 50px !important;
    border: 3px solid lightseagreen;
    margin-top: 1px !important;
    font-size: 16px;
}

.btn-poll:hover {
    background: lightseagreen !important;
    color: palegoldenrod !important;
}

.btn-poll.active {
    background: lightseagreen !important;
    color: palegoldenrod !important;
}

.jumbotron {
    text-align: center;
    width: 100%;
    background: lightcoral;
    align-items: center;
}

#login-form {
    max-width: 40%;
}

.hidden {
    display: none;   
}

.form-control {
    background: none;
    align-self: center;
    border: none;
}

#poll-display {
    max-width: 50%;
}

.question-field {
    border-radius: 50px;
    border: 5px solid darkseagreen;
    background: palegoldenrod;
    color: darkseagreen;
    font-size: 20px;
    height:auto;
}

.answer-field {
    border-radius: 50px;
    border: 2px solid lightseagreen;
    margin-top: 2px;
    background: palegoldenrod;
    color: lightseagreen;
}

.input-group-addon {
    background: none;
    border: none;
    color: lightseagreen;
    opacity: 0.6;
}
