body {
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background: darkslategrey;
    color: paleturquoise;
}

#top-navbar {
    background: darkslategrey;
}
#top-navbar a {  
    color: lightseagreen;
    padding: 5px;
    font-size: 32px;
}
#top-navbar a:hover {
    color: paleturquoise;
}
#logout {
    float: right;
}


input {
    border-radius: 50px !important;
}

h3 {
    color: lightseagreen;
}

a:hover, a:visited, a:active {
    text-decoration: none;
}

.container-fluid {
    width: 100%;
}

.form-container {
    width: 50%;
}

.btn {
    border-radius: 50px !important;
    font-weight: bold;
    margin-top: 2px !important;
}

.btn-poll {
    background: palegoldenrod;
    color: lightseagreen;
    border: 3px solid lightseagreen;
    margin-top: 1px !important;
    font-size: 16px;
}

.btn-poll:hover {
    background: lightseagreen !important;
    color: palegoldenrod !important;
}

.btn-submit {
    font-weight: bold;
    background: darkslategray;
    color: lightseagreen;
}

.btn-submit:hover {
    color: palegoldenrod;
    opacity: 0.9;
}

.btn-poll.active {
    background: lightseagreen !important;
    color: palegoldenrod !important;
}

.btn-create {
    background: none;
    border: 3px solid darkslategrey;
    color: darkslategrey;
}

.btn-create:hover {
    background: darkslategrey;
    color: palegoldenrod;
}

.btn-delete {
    background: darkseagreen;
    color: palegoldenrod;
}

.btn-delete:hover {
    background: coral;
    color: palegoldenrod;
}

.jumbotron {
    text-align: center;
    width: 100%;
    background: palegoldenrod;
    color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form {
    max-width: 40%;
}

.hidden {
    display: none;   
}

.form-control {
    background: none;
    align-self: center;
    border: none;
    color: lightseagreen;
}

.form-control:focus {
    box-shadow: none;
}

#poll-display {
    max-width: 50%;
}

.question-field {
    border-radius: 50px;
    border: 5px solid darkseagreen;
    background: palegoldenrod;
    color: darkseagreen;
    font-size: 20px;
    height:auto;
}

.question-field:focus {
    border: 5px solid darkseagreen;
}

.answer-field {
    border-radius: 50px;
    border: 2px solid lightseagreen;
    margin-top: 2px;
    background: palegoldenrod;
    color: lightseagreen;
}

.answer-field:focus {
    border: 2px solid lightseagreen;
}

.input-group-addon {
    background: none;
    border: none;
    opacity: 0.6;
}

.input-group-addon a {
    color: lightseagreen;
}
